# Recap - The Cars Dataset

In [57]:
# 1 - DATA MANIPULATION
import pandas as pd
import numpy as np

# 2 - DATA VISUALISATION
import matplotlib.pyplot as plt
import seaborn as sns

# 3 - STATISTICS
from statsmodels.graphics.gofplots import qqplot

# 4 - MACHINE LEARNING

## 4.1 - Preprocessing

### 4.1.1 - Scalers
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

### 4.1.2 - Encoders
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

### 4.1.3 - Crossvalidation, Training, Model
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### 4.1.4 - Evaluation
from sklearn.metrics import confusion_matrix
from sklearn.metrics  import ConfusionMatrixDisplay

# üöó The Cars dataset

üëá Run the code down below to import the [***ML_Cars_Recap_dataset.csv dataset***](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Cars_Recap_dataset.csv) - _this version is slightly different from the one in the challenge 3._

In [58]:
aws_url = "https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Cars_Recap_dataset.csv"
cars = pd.read_csv(aws_url)
cars.head()


# Note: It is a common practice to store csv online. This one is stored on the AWS account of LeWagon

,aspiration,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price
0,std,64.10000,2548.0,dohc,four,2.68,5000.0,expensive
1,std,64.10000,2548.0,dohc,four,2.68,5000.0,expensive
2,std,65.50000,2823.0,ohcv,six,3.47,5000.0,expensive
3,std,65.88794,2337.0,ohc,four,3.40,5500.0,expensive
4,std,66.40000,2824.0,ohc,five,3.40,5500.0,expensive

In [59]:
cars.shape # 205 cars x 8 features

(205, 8)

‚ÑπÔ∏è The description of the dataset is available [here](https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Cars_dataset_description.txt).

‚ùì **Question (Information)** ‚ùì Collect some basic information about your dataset.

In [60]:
# YOUR CODE HERE
# Collect some basic information about the dataset
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   aspiration      205 non-null    object
 1   carwidth        205 non-null    float64
 2   curbweight      205 non-null    float64
 3   enginetype      205 non-null    object
 4   cylindernumber  205 non-null    object
 5   stroke          205 non-null    float64
 6   peakrpm         205 non-null    float64
 7   price           205 non-null    object
dtypes: float64(4), object(4)
memory usage: 12.9+ KB

# (1) üõ† Data preparation

## (1.0) Pre-requisites

‚ùì **Question (Potential anomalies)** ‚ùì 

- Are there columns which need to be modified because of their data types? 
    - Please proceed accordingly.

In [61]:
# YOUR CODE HERE
cars['cylindernumber'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [62]:
cars["cylindernumber"] = cars["cylindernumber"].map(
    {"four": 4, "six": 6, "five": 5, "eight": 8, "two": 2, "twelve": 12, "three": 3}
)
cars["cylindernumber"].value_counts()

4     159
6      24
5      11
8       5
2       4
3       1
12      1
Name: cylindernumber, dtype: int64

## (1.1) Duplicates

‚ùì **Question (Duplicated rows)** ‚ùì 

Compute the number of duplicated rows that the cars dataset has.

In [63]:
# YOUR CODE HERE
cars.duplicated().sum()

14

‚ùì **Question (Remove duplicates)** ‚ùì

In [64]:
# YOUR CODE HERE
cars = cars.drop_duplicates().reset_index(drop=True)
cars

,aspiration,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price
0,std,64.10000,2548.0,dohc,4,2.68,5000.0,expensive
1,std,65.50000,2823.0,ohcv,6,3.47,5000.0,expensive
2,std,65.88794,2337.0,ohc,4,3.40,5500.0,expensive
3,std,66.40000,2824.0,ohc,5,3.40,5500.0,expensive
4,std,66.30000,2507.0,ohc,5,3.40,5500.0,expensive
...,...,...,...,...,...,...,...,...
186,std,68.90000,2952.0,ohc,4,3.15,5400.0,expensive
187,turbo,68.80000,3049.0,ohc,4,3.15,5300.0,expensive
188,std,68.90000,3012.0,ohcv,6,2.87,5500.0,expensive
189,turbo,68.90000,3217.0,ohc,6,3.40,4800.0,expensive
190,turbo,68.90000,3062.0,ohc,4,3.15,5400.0,expensive

## (1.2) Missing data

‚ùì **Question (`NaN`)** ‚ùì 

What is the percentage of `NaN` for each feature?

In [65]:
# YOUR CODE HERE
cars.isnull().sum().sort_values(ascending=False)/len(cars)

aspiration        0.0
carwidth          0.0
curbweight        0.0
enginetype        0.0
cylindernumber    0.0
stroke            0.0
peakrpm           0.0
price             0.0
dtype: float64

<details>
    <summary><i>Answer</i></summary>
    
üòá It is a miracle but we do not have missing values here. You can move to the next section of this notebook :) 
    
</details>

## (1.3) Defining the features $X$ and the target $y$

‚ùì **Question** ‚ùì

- Store the features of this dataset in a variable $X$
- Store the target in a variable $y$.

In [66]:
# YOUR CODE HERE
X = cars.drop(columns=["price"])
y = cars["price"]

‚ùì **Question (Quick look at the target)** ‚ùì What is the proportion of "cheap" cars vs. "expensive" cars ?

In [67]:
# YOUR CODE HERE
# proportion of cheap cars vs expensive cars
y.value_counts(normalize=True)

expensive    0.612565
cheap        0.387435
Name: price, dtype: float64

## (1.4) Scaling numerical features

‚ùì **Question (quick glance at the numerical columns)** ‚ùì

- Show the boxplots of all the numerical columns in one line of code
- Do the same with their distributions using histograms

In [68]:
# YOUR CODE HERE
cars.boxplot()
cars.plot.hist(bins = 100)

‚ùì **Question (Focus on the numerical columns)** ‚ùì

Store the numerical columns of the cars dataset into `cars_num`.

In [69]:
###########################
# Manual solution         # - not very smart
###########################

# num_features = ["carwidth", "curbweight", "cylindernumber", "stroke", "peakrpm"]
# cars_num = X[num_features]

# That is one way to select the numerical features...
# But not very smart...

###########################
# Elegant solution        # - much better
###########################

cars_num = X.select_dtypes(exclude = ['object']) # selecting only the numerical features
cars_num

     carwidth  curbweight  cylindernumber  stroke  peakrpm
0    64.10000      2548.0               4    2.68   5000.0
1    65.50000      2823.0               6    3.47   5000.0
2    65.88794      2337.0               4    3.40   5500.0
3    66.40000      2824.0               5    3.40   5500.0
4    66.30000      2507.0               5    3.40   5500.0
..        ...         ...             ...     ...      ...
186  68.90000      2952.0               4    3.15   5400.0
187  68.80000      3049.0               4    3.15   5300.0
188  68.90000      3012.0               6    2.87   5500.0
189  68.90000      3217.0               6    3.40   4800.0
190  68.90000      3062.0               4    3.15   5400.0

[191 rows x 5 columns]

‚ùì **Question (Robust Scaler)** ‚ùì

üë®üèª‚Äçüè´ Robust Scaling all the numerical features is a quick and efficient way of scaling.

In [70]:
# Instantiating a RobustScaler
robust_scaler = RobustScaler()

# Creating a copy of the original numerical features
cars_num_scaled = cars_num.copy()

# Scaling the features and storing them in the copy
cars_num_scaled = pd.DataFrame(robust_scaler.fit_transform(cars_num_scaled),
                               columns = cars_num.columns)

# Showing the scaled features
cars_num_scaled

     carwidth  curbweight  cylindernumber    stroke   peakrpm
0   -0.555556    0.135659             0.0 -2.033333 -0.142857
1   -0.037037    0.490956             2.0  0.600000 -0.142857
2    0.106644   -0.136951             0.0  0.366667  0.571429
3    0.296296    0.492248             1.0  0.366667  0.571429
4    0.259259    0.082687             1.0  0.366667  0.571429
..        ...         ...             ...       ...       ...
186  1.222222    0.657623             0.0 -0.466667  0.428571
187  1.185185    0.782946             0.0 -0.466667  0.285714
188  1.222222    0.735142             2.0 -1.400000  0.571429
189  1.222222    1.000000             2.0  0.366667 -0.428571
190  1.222222    0.799742             0.0 -0.466667  0.428571

[191 rows x 5 columns]

## (1.5) Encoding categorical features

‚ùì **Question (Focus on the categorical columns)** ‚ùì

Store the categorical columns of the cars dataset into `cars_categorical`.

In [71]:
# Manual solution --> not very smart

# categorical_features = ["aspiration", "enginetype"]
# cars_categorical = X[categorical_features]

# Elegant solution --> much better
cars_categorical = X.select_dtypes(include = ['object']) # selecting only the categorical features
cars_categorical

    aspiration enginetype
0          std       dohc
1          std       ohcv
2          std        ohc
3          std        ohc
4          std        ohc
..         ...        ...
186        std        ohc
187      turbo        ohc
188        std       ohcv
189      turbo        ohc
190      turbo        ohc

[191 rows x 2 columns]

‚ùì **Question: What is the expected number of columns generated if we encode the categorical features** ‚ùì

In [72]:
# YOUR CODE HERE
print(cars_categorical['aspiration'].value_counts())
print(cars_categorical['enginetype'].value_counts())

std      156
turbo     35
Name: aspiration, dtype: int64
ohc      138
ohcf      14
ohcv      13
dohc      11
l         11
rotor      3
dohcv      1
Name: enginetype, dtype: int64

‚ùì **Question (OneHotEncoder): Encode the categorical features** ‚ùì

<details>
    <summary><i>Hints</i></summary>
    
- Drop a column when a categorical feature is binary
- Use full matrixes (Sklearn estimators don't understand sparse matrixes)
- Store them into a Pandas DataFrame called `encoded_features`
    - üí° Once that the OHE is fitted to a DataFrame, the new columns' names are accessible through _`get_features_names_out()`_
    
</details>

In [73]:
# YOUR CODE HERE
ohe = OneHotEncoder(sparse=False, drop="if_binary", min_frequency=0.05)
ohe.fit(cars_categorical)
display(ohe.categories_)
display(ohe.get_feature_names_out())
encoded_features = pd.DataFrame(
    ohe.transform(cars_categorical), columns=ohe.get_feature_names_out()
)
encoded_features

/Users/tanushrinayak/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

[array(['std', 'turbo'], dtype=object),
 array(['dohc', 'dohcv', 'l', 'ohc', 'ohcf', 'ohcv', 'rotor'], dtype=object)]

array(['aspiration_turbo', 'enginetype_dohc', 'enginetype_l',
       'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_infrequent_sklearn'], dtype=object)

,aspiration_turbo,enginetype_dohc,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_infrequent_sklearn
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
186,0.0,0.0,0.0,1.0,0.0,0.0,0.0
187,1.0,0.0,0.0,1.0,0.0,0.0,0.0
188,0.0,0.0,0.0,0.0,0.0,1.0,0.0
189,1.0,0.0,0.0,1.0,0.0,0.0,0.0
190,1.0,0.0,0.0,1.0,0.0,0.0,0.0

## (1.6) Concatenating all the preprocessed features together $X_{preprocessed}$

‚ùì **Question (aggregating all the preprocessed features together)** ‚ùì

Concatenate `cars_num_scaled` and `cars_categorical` into `X_preprocessed`

In [74]:
# YOUR CODE HERE
X_preprocessed = pd.concat([cars_num_scaled, encoded_features], axis=1)
X_preprocessed

,carwidth,curbweight,cylindernumber,stroke,peakrpm,aspiration_turbo,enginetype_dohc,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_infrequent_sklearn
0,-0.555556,0.135659,0.0,-2.033333,-0.142857,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,-0.037037,0.490956,2.0,0.600000,-0.142857,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.106644,-0.136951,0.0,0.366667,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.296296,0.492248,1.0,0.366667,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.259259,0.082687,1.0,0.366667,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
186,1.222222,0.657623,0.0,-0.466667,0.428571,0.0,0.0,0.0,1.0,0.0,0.0,0.0
187,1.185185,0.782946,0.0,-0.466667,0.285714,1.0,0.0,0.0,1.0,0.0,0.0,0.0
188,1.222222,0.735142,2.0,-1.400000,0.571429,0.0,0.0,0.0,0.0,0.0,1.0,0.0
189,1.222222,1.000000,2.0,0.366667,-0.428571,1.0,0.0,0.0,1.0,0.0,0.0,0.0
190,1.222222,0.799742,0.0,-0.466667,0.428571,1.0,0.0,0.0,1.0,0.0,0.0,0.0

## (1.7) Encoding the target

‚ùì **Question (Encoding the categorical target)** ‚ùì

Encode the target using üìö[***LabelEncoder***](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html).

In [75]:
# YOUR CODE HERE
target_encoder = LabelEncoder()
y_encoded = target_encoder.fit_transform(y)

pd.DataFrame({"y": y, "y_encoded": y_encoded})

             y  y_encoded
0    expensive          1
1    expensive          1
2    expensive          1
3    expensive          1
4    expensive          1
..         ...        ...
186  expensive          1
187  expensive          1
188  expensive          1
189  expensive          1
190  expensive          1

[191 rows x 2 columns]

# (2) üèãüèª‚Äç‚ôÇÔ∏è Modeling (Logistic Regression)

üéØ Our goal is to predict whether a car will be expensive or cheap based on some features.

## (2.0) Cross-Validation

üë©‚Äçüè´ In Machine Learning, when you want to compare different models, a Cross Validation is a robust method to roughly assess the performance of each individual submodel.

‚ùì **Question (CrossValidation)** ‚ùì

What is the potential performance of a LogisticRegression for this dataset?

In [76]:
# YOUR CODE HERE

logreg_model = LogisticRegression(max_iter=1000)
number_of_folds = 5
cv_scores = cross_validate(
    logreg_model, X_preprocessed, y_encoded, cv=number_of_folds)
print(cv_scores)
print(cv_scores["test_score"].mean())

{'fit_time': array([0.00556707, 0.00480795, 0.00492024, 0.00463104, 0.00474596]), 'score_time': array([0.00157094, 0.0015161 , 0.00151706, 0.00133181, 0.00144315]), 'test_score': array([0.92307692, 0.89473684, 0.92105263, 0.92105263, 0.84210526])}
0.9004048582995952

- üöÄ This accuracy is promising, let's go further !
- üó£ We will discuss what is a good Regression/Classification model in the `Performance Metrics` unit.

## (2.1) Holdout Method

‚ùì **Question (Holdout): train/test split your dataset with a 70/30 ratio** ‚ùì

<details>
    <summary><i>Hint</i></summary>

- For a binary target, you actually don't have to use to `LabelEncoder`.
    - Sklearn is smart enough to detect a binary target.
    
</details>

In [77]:
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X_preprocessed, y_encoded, test_size=0.3)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((133, 12), (58, 12), (133,), (58,))

## (2.2) Training and evaluating

‚ùì **Question: Train/Evaluate a Logistic Regression model** ‚ùì

In [78]:
# Instantiate a Logistic Regression model
logreg = LogisticRegression(max_iter = 100)

# Train the model
logreg.fit(X_train, y_train)

# Evaluate the model
logreg.score(X_test, y_test)

0.9310344827586207

## (2.3) Predicting

‚ùì **Question (Predicting a new "point")**‚ùì

Does your ML algorithm (the Logistic Regression you've just trained) think that a car with the following features will be expensive?

In [79]:
new_car = pd.DataFrame(columns = X.columns)
new_car.loc[0] = ['std', 65.88793969849246, 1874.0, 'ohc', 'four', 3.11, 5400.0]
new_car

  aspiration  carwidth  curbweight enginetype cylindernumber  stroke  peakrpm
0        std  65.88794      1874.0        ohc           four    3.11   5400.0

> üë®üèª‚Äçüè´ **To make a prediction, this new car has to be through the same transformations as the ones performed in the training set!**

üå† Have a look at the big picture of this recap [here](https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/prepare_dataset_fit_transform.png)!

In [81]:
# 0 - Fixing abnormal data
new_car["cylindernumber"] = 4
new_car

  aspiration  carwidth  curbweight enginetype  cylindernumber  stroke  peakrpm
0        std  65.88794      1874.0        ohc               4    3.11   5400.0

In [82]:
# 1 - Scaling the numerical features

pass  # YOUR CODE HERE
num_features = new_car.select_dtypes(exclude = ['object']).copy()
#display(num_features)

num_features_scaled = robust_scaler.transform(num_features)
##display(num_features_scaled)

num_features_scaled = pd.DataFrame(num_features_scaled, columns = num_features.columns)
num_features_scaled.head()

   carwidth  curbweight  cylindernumber  stroke   peakrpm
0  0.106644   -0.735142             0.0    -0.6  0.428571

In [83]:
# 2 - Encoding the categorical features

pass  # YOUR CODE HERE
categorical_features = new_car.select_dtypes(include = ['object']).copy()
categorical_features_encoded = pd.DataFrame(ohe.transform(categorical_features), columns = ohe.get_feature_names_out())
categorical_features_encoded.head()

,aspiration_turbo,enginetype_dohc,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_infrequent_sklearn
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [84]:
# 3 - Aggregating the numerical features and categorical features together

pass  # YOUR CODE HERE

new_car_preprocessed = pd.concat([num_features_scaled, categorical_features_encoded], axis = 1)
new_car_preprocessed

,carwidth,curbweight,cylindernumber,stroke,peakrpm,aspiration_turbo,enginetype_dohc,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_infrequent_sklearn
0,0.106644,-0.735142,0.0,-0.6,0.428571,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [85]:
# 4 - Prediction

pass  # YOUR CODE HERE
predicted_category = logreg.predict(new_car_preprocessed)
predicted_category

array([0])

# (3) üßëüèø‚Äçüè´ Warning about Data Leakage

<img src="https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/cross_validation_data_leakage.png"  width=600 height=300>

üèÅ Congratulations! You are an expert at preparing a dataset now !

üßëüèª‚Äçüè´ Don't forget your flashcards and see you for the next section: `Performance Metrics`!